h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    color: #ead43e;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 button{
    color: #151618;
    background-color: #ead43e;
    height: 20px;
    width: 45px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: -40px;
    padding-bottom: 20px;
}

.energia button{
    display: block;
    width: 70px;
    height: 55px;
    color: #151618;
    background-color: #ead43e;
    margin-bottom: 40px;
    margin-right: -15px;
}

.uno{
    display: flex;
}

.dos{
    display: flex;
}

.tres{
    display: flex;
}

.cartas button{
    display: block;
    width: 130px;
    height: 55px;
    color: #151618;
    background-color: #ead43e;
    margin-bottom: 40px;
}

.energia{
    margin-left: 0%;
    padding-right: 15%;
}

.energia h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ead43e;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.cartas h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ead43e;
    display: flex;
    justify-content: center;
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin-bottom: -40px;
    margin-top: -41px;
    margin-left: -40px;
    margin-right: -40px;
    background: url(../../../assets/fondo.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}

img{
    height: 150px;
}

.combinaciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #151618;
    margin-top: 5px;
    font-size: 24px;
}